*.pyc
__pycache__/
output/*/*.pdb
output/*/*.phr
output/*/*.pin
output/*/*.pjs
output/*/*.pot
output/*/*.psq
output/*/*.ptf
output/*/*.pto
Chrsp_1/*
Chrpa1_1/*
Gepoce1/*
IsochDm2_1/*
Phaglo1/*
Pparv12B1_1_1/*
Ochro3194_1/*
Isogal1/*